@redbtn:registry=https://registry.redbtn.io/
//registry.redbtn.io/:username=redrun-pub
//registry.redbtn.io/:_password=***REMOVED-ROTATED-CREDENTIAL***
//registry.redbtn.io/:email=builds@redbtn.io
//registry.redbtn.io/:always-auth=true
