@redbtn:registry=https://registry.redbtn.io/
//registry.redbtn.io/:username=redrun-pub
//registry.redbtn.io/:_password=ZDk5ZjliZmY1MWQ0MmE2NjU3NjYxOWJmMjgzMzZhM2JiOGI0ODc4ODQ2NGFmMTE1
//registry.redbtn.io/:email=builds@redbtn.io
//registry.redbtn.io/:always-auth=true
